<section data-ng-controller="CommunityMembersController">
    <div class="page-header">
        <h1>Community members (with Front Hall, Back Hall, Talk Count)</h1>
    </div>

    <div class="pull-right">
      <a type="button" class="btn btn-success" href="/#!/community-members/create">
        <i class="glyphicon glyphicon-open"></i> New CommunityMember
      </a>
        <a type="button" class="btn btn-info" ng-click="updateTeamListing($data)">
            <i class="glyphicon glyphicon-open"></i> Create Team
        </a>

    </div>

    <div id="scrollable-area">
        <!--fixed-table-headers="scrollable-area"-->
        <table ng-table="tableParams" class="table table-striped table-bordered table-condensed  ng-table-responsive" show-filter="true" >
            <tr ng-repeat="communityMember in $data">
                <td data-title="'Selected'"><input type="checkbox" ng-model="communityMember.Selected" ng-change="selectedForTeam(communityMember)"> </td>
                <td data-title="'LAST_NAME'" sortable="'LAST_NAME'" filter="{ 'LAST_NAME': 'text' }">{{communityMember.LAST_NAME}}</td>
                <td data-title="'FIRST_NAME'" sortable="'FIRST_NAME'" filter="{ 'FIRST_NAME': 'text' }">{{communityMember.FIRST_NAME}}</td>
                <td data-title="'AC'" sortable="'AC'" filter="{ 'AC': 'text' }">{{communityMember.AC}}</td>
                <td data-title="'PHONE'" sortable="'PHONE'" filter="{ 'PHONE': 'text' }">{{communityMember.PHONE}}</td>
                <td data-title="'STREET_ADDRESS'" sortable="'STREET_ADDRESS'" filter="{ 'STREET_ADDRESS': 'text' }">{{communityMember.STREET_ADDRESS}}</td>
                <td data-title="'CITY'" sortable="'CITY'" filter="{ 'CITY': 'text' }">{{communityMember.CITY}}</td>
                <td data-title="'ST'" sortable="'ST'" filter="{ 'ST': 'text' }">{{communityMember.ST}}</td>
                <td data-title="'ZIP'" sortable="'ZIP'" filter="{ 'ZIP': 'text' }">{{communityMember.ZIP}}</td>
                <td data-title="'Original_Walk'" sortable="'Original_Walk'" filter="{ 'Original_Walk': 'text' }">{{communityMember.Original_Walk}}</td>
                <td data-title="'Conf Rm'" sortable="'frontHallCount(communityMember)'" filter="{ 'frontHallCount(communityMember)': 'text' }">{{frontHallCount(communityMember)}}</td>
                <td data-title="'Back Hall'" sortable="'backHallCount(communityMember)'" filter="{ 'backHallCount(communityMember)': 'text' }">{{backHallCount(communityMember)}}</td>
                <td data-title="'Talks'" sortable="'talkCount(communityMember)'" filter="{ 'talkCount(communityMember)': 'text' }">{{talkCount(communityMember)}}</td>
                <td data-title="'L_D'" sortable="'L_D'" filter="{ 'L_D': 'text' }">{{communityMember.L_D}}</td>
                <td data-title="'S_D'" sortable="'S_D'" filter="{ 'S_D': 'text' }">{{communityMember.S_D}}</td>
                <td data-title="'A_L_D'" sortable="'A_L_D'" filter="{ 'A_L_D': 'text' }">{{communityMember.A_L_D}}</td>
                <td data-title="'A_S_D'" sortable="'A_S_D'" filter="{ 'A_S_D': 'text' }">{{communityMember.A_S_D}}</td>
                <td data-title="'Mu'" sortable="'Mu'" filter="{ 'Mu': 'text' }">{{communityMember.Mu}}</td>
                <td data-title="'A_T_L'" sortable="'A_T_L'" filter="{ 'A_T_L': 'text' }">{{communityMember.A_T_L}}</td>
                <td data-title="'T_L'" sortable="'T_L'" filter="{ 'T_L': 'text' }">{{communityMember.T_L}}</td>
                <td data-title="'Agape'" sortable="'Agape'" filter="{ 'Agape': 'text' }">{{communityMember.Agape}}</td>
                <td data-title="'M_S'" sortable="'M_S'" filter="{ 'M_S': 'text' }">{{communityMember.M_S}}</td>
                <td data-title="'Ref'" sortable="'Ref'" filter="{ 'Ref': 'text' }">{{communityMember.Ref}}</td>
                <td data-title="'p72_hr'" sortable="'p72_hr'" filter="{ 'p72_hr': 'text' }">{{communityMember.p72_hr}}</td>
                <td data-title="'Hous'" sortable="'Hous'" filter="{ 'Hous': 'text' }">{{communityMember.Hous}}</td>
                <td data-title="'Cnd_Lite'" sortable="'Cnd_Lite'" filter="{ 'Cnd_Lite': 'text' }">{{communityMember.Cnd_Lite}}</td>
                <td data-title="'Clo'" sortable="'Clo'" filter="{ 'Clo': 'text' }">{{communityMember.Clo}}</td>
                <td data-title="'Ent'" sortable="'Ent'" filter="{ 'Ent': 'text' }">{{communityMember.Ent}}</td>
                <td data-title="'S_Pray'" sortable="'S_Pray'" filter="{ 'S_Pray': 'text' }">{{communityMember.S_Pray}}</td>
                <td data-title="'Spo_Hr'" sortable="'Spo_Hr'" filter="{ 'Spo_Hr': 'text' }">{{communityMember.Spo_Hr}}</td>
                <td data-title="'Worship'" sortable="'Wor'" filter="{ 'Wor': 'text' }">{{communityMember.Wor}}</td>
                <td data-title="'Goph'" sortable="'Goph'" filter="{ 'Goph': 'text' }">{{communityMember.Goph}}</td>
                <td data-title="'Clean Up'" sortable="'ClnUp'" filter="{ 'ClnUp': 'text' }">{{communityMember.ClnUp}}</td>
                <td data-title="'Tech'" sortable="'PP_Tech'" filter="{ 'PP_Tech': 'text' }">{{communityMember.PP_Tech}}</td>
                <td data-title="'PER'" sortable="'PER'" filter="{ 'PER': 'text' }">{{communityMember.PER}}</td>
                <td data-title="'Priority'" sortable="'PRI'" filter="{ 'PRI': 'text' }">{{communityMember.PRI}}</td>
                <td data-title="'Presithood of Beleivers'" sortable="'PHB'" filter="{ 'PHB': 'text' }">{{communityMember.PHB}}</td>
                <td data-title="'Life of Piety'" sortable="'PIE'" filter="{ 'PIE': 'text' }">{{communityMember.PIE}}</td>
                <td data-title="'S'" sortable="'S'" filter="{ 'S': 'text' }">{{communityMember.S}}</td>
                <td data-title="'CA'" sortable="'CA'" filter="{ 'CA': 'text' }">{{communityMember.CA}}</td>
                <td data-title="'DISC'" sortable="'DISC'" filter="{ 'DISC': 'text' }">{{communityMember.DISC}}</td>
                <td data-title="'CW'" sortable="'CW'" filter="{ 'CW': 'text' }">{{communityMember.CW}}</td>
                <td data-title="'BC'" sortable="'BC'" filter="{ 'BC': 'text' }">{{communityMember.BC}}</td>
                <td data-title="'P'" sortable="'P'" filter="{ 'P': 'text' }">{{communityMember.P}}</td>
                <td data-title="'FD'" sortable="'FD'" filter="{ 'FD': 'text' }">{{communityMember.FD}}</td>
                <td data-title="'PG'" sortable="'PG'" filter="{ 'PG': 'text' }">{{communityMember.PG}}</td>
                <td data-title="'OG'" sortable="'OG'" filter="{ 'OG': 'text' }">{{communityMember.OG}}</td>
                <td data-title="'SG'" sortable="'SG'" filter="{ 'SG': 'text' }">{{communityMember.SG}}</td>
                <td data-title="'JG'" sortable="'JG'" filter="{ 'JG': 'text' }">{{communityMember.JG}}</td>
                <td data-title="'MG'" sortable="'MG'" filter="{ 'MG': 'text' }">{{communityMember.MG}}</td>


                <!--<td>-->
                    <!--<div class="table-actions">-->
                <td>
                   <div class="table-actions">
                        <a class="btn btn-default" title="View" href="/#!/community-members/{{communityMember._id}}">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                        <a class="btn btn-default" title="Edit" href="/#!/community-members/{{communityMember._id}}/edit">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="remove(communityMember)" item="communityMember">
                  				<span class="glyphicon glyphicon-remove-circle"></span>
                  			</a>
                    </div>
                </td>
            </tr>
            <tr>
                <a type="button" class="btn btn-success " title='Export' ng-csv="cvsMe(tableParams.data)"
                   filename="community_summary_test.csv">
                    <span class="glyphicon glyphicon-export"></span>Export Basic Information</a>

            </tr>

        </table>
    </div>
</section>
