<section data-ng-controller="CommitteesController">
    <div class="page-header">
        <h1>Committees</h1>
    </div>

    <div class="pull-right">
      <a type="button" class="btn btn-success" href="/#!/committees/create">
        <i class="glyphicon glyphicon-open"></i> New Committee
      </a>
    </div>

    <div>
        <table ng-table="tableParams" class="table table-striped table-bordered table-condensed  ng-table-responsive" show-filter="true">
            <tr ng-repeat="committee in $data">
                <!--Add new columns for the new properties in the HTML table in public/modules/module-name/views/list-module-name.client.view.html-->
                <!--LAST_NAME: {type: String},-->
                <td data-title="'LAST_NAME'" sortable="'LAST_NAME'" filter="{ 'LAST_NAME': 'text' }">{{committee.LAST_NAME}}</td>
                <!--FIRST_NAME: {type: String},-->
                <td data-title="'FIRST_NAME'" sortable="'FIRST_NAME'" filter="{ 'FIRST_NAME': 'text' }">{{committee.FIRST_NAME}}</td>
                <!--Original_Walk: {type: String},-->
                <td data-title="'Original_Walk'" sortable="'Original_Walk'" filter="{ 'Original_Walk': 'text' }">{{committee.Original_Walk}}</td>
                <!--Walk_Number: {type:String},-->
                <td data-title="'Walk_Number'" sortable="'Walk_Number'" filter="{ 'Walk_Number': 'text' }">{{committee.Walk_Number}}</td>
                <!--Committee: {type:String},-->
                <td data-title="'Committee'" sortable="'Committee'" filter="{ 'Committee': 'text' }">{{committee.Committee}}</td>
                <td>
                    <div class="table-actions">
                <td>
                   <div class="table-actions">
                        <a class="btn btn-default" title="View" href="/#!/committees/{{committee._id}}">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                        <a class="btn btn-default" title="Edit" href="/#!/committees/{{committee._id}}/edit">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="remove(committee)" item="committee">
                  				<span class="glyphicon glyphicon-remove-circle"></span>
                  			</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</section>
