<section data-ng-controller="TeamMembersController">
    <div class="page-header">
        <h1>Team members</h1>
    </div>

    <div class="pull-right">
        <a type="button" class="btn btn-success" href="/#!/team-members/create">
            <i class="glyphicon glyphicon-open"></i> New TeamMember
        </a>
    </div>

    <div>
        <table ng-table="tableParams" class="table table-striped table-bordered table-condensed  ng-table-responsive"
               show-filter="true">
            <tr ng-repeat="teamMember in $data">
                <td data-title="'Selected'">
                    <input type="checkbox" ng-model="teamMember.Selected" ng-change="selectedForTeam(teamMember)">
                </td>
                <td data-title="'________ConfRm________'">
                    <label>LD<input type="checkbox" ng-model="teamMember.sL_D"
                                    ng-change="selectedForUpdate(teamMember)"></label>
                    <label>SD<input type="checkbox" ng-model="teamMember.sS_D"
                                    ng-change="selectedForUpdate(teamMember)"></label><br/>
                    <label>ALD<input type="checkbox" ng-model="teamMember.sA_L_D"
                                     ng-change="selectedForUpdate(teamMember)"></label>
                    <label>ALDalt<input type="checkbox" ng-model="teamMember.sA_L_Da"
                                     ng-change="selectedForUpdate(teamMember)"></label>
                    <label>ALDex<input type="checkbox" ng-model="teamMember.sA_L_De"
                                     ng-change="selectedForUpdate(teamMember)"></label><br/>
                    <label>ASD<input type="checkbox" ng-model="teamMember.sA_S_D"
                                     ng-change="selectedForUpdate(teamMember)"></label>
                    <label>ASDalt<input type="checkbox" ng-model="teamMember.sA_S_Da"
                                     ng-change="selectedForUpdate(teamMember)"></label>
                    <label>ASDex<input type="checkbox" ng-model="teamMember.sA_S_De"
                                     ng-change="selectedForUpdate(teamMember)"></label><br/>
                    <label>ATL<input type="checkbox" ng-model="teamMember.sA_T_L"
                                     ng-change="selectedForUpdate(teamMember)"></label>
                    <label>ATLalt<input type="checkbox" ng-model="teamMember.sA_T_La"
                                     ng-change="selectedForUpdate(teamMember)"></label>
                    <label>ATLex<input type="checkbox" ng-model="teamMember.sA_T_Le"
                                     ng-change="selectedForUpdate(teamMember)"></label><br/>
                    <label>TL<input type="checkbox" ng-model="teamMember.sT_L"
                                    ng-change="selectedForUpdate(teamMember)"></label>
                    <label>TLalt<input type="checkbox" ng-model="teamMember.sT_La"
                                    ng-change="selectedForUpdate(teamMember)"></label>
                    <label>TLex<input type="checkbox" ng-model="teamMember.sT_Le"
                                    ng-change="selectedForUpdate(teamMember)"></label><br/>
                    <label>Extra<input type="checkbox" ng-model="teamMember.sMCR"
                                    ng-change="selectedForUpdate(teamMember)"></label>
                </td>
                <td data-title="'______Talks______'">
                    <label>PER<input type="checkbox" ng-model="teamMember.sPER" ng-change="selectedForUpdate(teamMember)"></label>
                    <label>PRI<input type="checkbox" ng-model="teamMember.sPRI" ng-change="selectedForUpdate(teamMember)"></label>
                    <label>PHB<input type="checkbox" ng-model="teamMember.sPHB" ng-change="selectedForUpdate(teamMember)"></label>
                    <label>LPIE<input type="checkbox" ng-model="teamMember.sPIE" ng-change="selectedForUpdate(teamMember)"></label>
                    <label>S<input type="checkbox" ng-model="teamMember.sS" ng-change="selectedForUpdate(teamMember)"></label>
                    <label>CA<input type="checkbox" ng-model="teamMember.sCA" ng-change="selectedForUpdate(teamMember)"></label>
                    <label>DISC<input type="checkbox" ng-model="teamMember.sDISC" ng-change="selectedForUpdate(teamMember)"></label>
                    <label>CW<input type="checkbox" ng-model="teamMember.sCW" ng-change="selectedForUpdate(teamMember)"></label>
                    <label>BC<input type="checkbox" ng-model="teamMember.sBC" ng-change="selectedForUpdate(teamMember)"></label>
                    <label>P<input type="checkbox" ng-model="teamMember.sP" ng-change="selectedForUpdate(teamMember)"></label>
                    <label>FD<input type="checkbox" ng-model="teamMember.sFD" ng-change="selectedForUpdate(teamMember)"></label>
                    <label>PG<input type="checkbox" ng-model="teamMember.sPG" ng-change="selectedForUpdate(teamMember)"></label>
                    <label>OG<input type="checkbox" ng-model="teamMember.sOG" ng-change="selectedForUpdate(teamMember)"></label>
                    <label>SG<input type="checkbox" ng-model="teamMember.sSG" ng-change="selectedForUpdate(teamMember)"></label>
                    <label>JG<input type="checkbox" ng-model="teamMember.sJG" ng-change="selectedForUpdate(teamMember)"></label>
                    <label>MG<input type="checkbox" ng-model="teamMember.sMG" ng-change="selectedForUpdate(teamMember)"></label>

                </td>
                <td data-title="'_______BackHall______'">
                    <label>Mu<input type="checkbox" ng-model="teamMember.sMu" ng-change="selectedForUpdate(teamMember)"></label>
                    <label>Agape<input type="checkbox" ng-model="teamMember.sAgape" ng-change="selectedForUpdate(teamMember)"></label>
                    <label>M_S<input type="checkbox" ng-model="teamMember.sM_S"
                                     ng-change="selectedForUpdate(teamMember)"></label>
                    <label>Ref<input type="checkbox" ng-model="teamMember.sRef"
                                     ng-change="selectedForUpdate(teamMember)"></label>
                    <label>p72_hr<input type="checkbox" ng-model="teamMember.sp72_hr"
                                        ng-change="selectedForUpdate(teamMember)"></label>
                    <label>Hous<input type="checkbox" ng-model="teamMember.sHous"
                                      ng-change="selectedForUpdate(teamMember)"></label>
                    <label>Cnd_Lite<input type="checkbox" ng-model="teamMember.sCnd_Lite"
                                          ng-change="selectedForUpdate(teamMember)"></label>
                    <label>Clo<input type="checkbox" ng-model="teamMember.sClo"
                                     ng-change="selectedForUpdate(teamMember)"></label>
                    <label>Tech<input type="checkbox" ng-model="teamMember.sPP_Tech"
                                      ng-change="selectedForUpdate(teamMember)"></label>
                    <label>Ent<input type="checkbox" ng-model="teamMember.sEnt"
                                     ng-change="selectedForUpdate(teamMember)"></label>
                    <label>S_Pray<input type="checkbox" ng-model="teamMember.sS_Pray"
                                        ng-change="selectedForUpdate(teamMember)"></label>
                    <label>Spo_Hr<input type="checkbox" ng-model="teamMember.sSpo_Hr"
                                        ng-change="selectedForUpdate(teamMember)"></label>
                    <label>Wor<input type="checkbox" ng-model="teamMember.sWor"
                                     ng-change="selectedForUpdate(teamMember)"></label>
                    <label>Goph<input type="checkbox" ng-model="teamMember.sGoph"
                                      ng-change="selectedForUpdate(teamMember)"></label>
                    <label>ClnUp<input type="checkbox" ng-model="teamMember.sClnUp"
                                       ng-change="selectedForUpdate(teamMember)"></label>
                    <label>Misc<input type="checkbox" ng-model="teamMember.sMBH"
                                       ng-change="selectedForUpdate(teamMember)"></label>
                </td>

                <td data-title="'LAST_NAME'" sortable="'LAST_NAME'" filter="{ 'LAST_NAME': 'text' }">
                    {{teamMember.LAST_NAME}}
                </td>
                <td data-title="'FIRST_NAME'" sortable="'FIRST_NAME'" filter="{ 'FIRST_NAME': 'text' }">
                    {{teamMember.FIRST_NAME}}
                </td>
                <td data-title="'Original_Walk'" sortable="'Original_Walk'" filter="{ 'Original_Walk': 'text' }">
                    {{teamMember.Original_Walk}}
                </td>
                <td data-title="'Conf Rm'" sortable="'frontHallCount(teamMember)'"
                    filter="{ 'frontHallCount(teamMember)': 'text' }">{{frontHallCount(teamMember)}}
                </td>
                <td data-title="'Back Hall'" sortable="'backHallCount(teamMember)'"
                    filter="{ 'backHallCount(teamMember)': 'text' }">{{backHallCount(teamMember)}}
                </td>
                <td data-title="'Talks'" sortable="'talkCount(teamMember)'"
                    filter="{ 'talkCount(teamMember)': 'text' }">{{talkCount(teamMember)}}
                </td>
                <td data-title="'L_D'" sortable="'L_D'" filter="{ 'L_D': 'text' }">{{teamMember.L_D}}</td>
                <td data-title="'S_D'" sortable="'S_D'" filter="{ 'S_D': 'text' }">{{teamMember.S_D}}</td>
                <td data-title="'A_L_D'" sortable="'A_L_D'" filter="{ 'A_L_D': 'text' }">{{teamMember.A_L_D}}</td>
                <td data-title="'A_S_D'" sortable="'A_S_D'" filter="{ 'A_S_D': 'text' }">{{teamMember.A_S_D}}</td>
                <td data-title="'Mu'" sortable="'Mu'" filter="{ 'Mu': 'text' }">{{teamMember.Mu}}</td>
                <td data-title="'A_T_L'" sortable="'A_T_L'" filter="{ 'A_T_L': 'text' }">{{teamMember.A_T_L}}</td>
                <td data-title="'T_L'" sortable="'T_L'" filter="{ 'T_L': 'text' }">{{teamMember.T_L}}</td>
                <td data-title="'Agape'" sortable="'Agape'" filter="{ 'Agape': 'text' }">{{teamMember.Agape}}</td>
                <td data-title="'M_S'" sortable="'M_S'" filter="{ 'M_S': 'text' }">{{teamMember.M_S}}</td>
                <td data-title="'Ref'" sortable="'Ref'" filter="{ 'Ref': 'text' }">{{teamMember.Ref}}</td>
                <td data-title="'p72_hr'" sortable="'p72_hr'" filter="{ 'p72_hr': 'text' }">{{teamMember.p72_hr}}</td>
                <td data-title="'Hous'" sortable="'Hous'" filter="{ 'Hous': 'text' }">{{teamMember.Hous}}</td>
                <td data-title="'Cnd_Lite'" sortable="'Cnd_Lite'" filter="{ 'Cnd_Lite': 'text' }">
                    {{teamMember.Cnd_Lite}}
                </td>
                <td data-title="'Clo'" sortable="'Clo'" filter="{ 'Clo': 'text' }">{{teamMember.Clo}}</td>
                <td data-title="'Tech'" sortable="'PP_Tech'" filter="{ 'PP_Tech': 'text' }">{{teamMember.PP_Tech}}</td>
                <td data-title="'Ent'" sortable="'Ent'" filter="{ 'Ent': 'text' }">{{teamMember.Ent}}</td>
                <td data-title="'S_Pray'" sortable="'S_Pray'" filter="{ 'S_Pray': 'text' }">{{teamMember.S_Pray}}</td>
                <td data-title="'Spo_Hr'" sortable="'Spo_Hr'" filter="{ 'Spo_Hr': 'text' }">{{teamMember.Spo_Hr}}</td>
                <td data-title="'Wor'" sortable="'Wor'" filter="{ 'Wor': 'text' }">{{teamMember.Wor}}</td>
                <td data-title="'Goph'" sortable="'Goph'" filter="{ 'Goph': 'text' }">{{teamMember.Goph}}</td>
                <td data-title="'ClnUp'" sortable="'ClnUp'" filter="{ 'ClnUp': 'text' }">{{teamMember.ClnUp}}</td>
                <td data-title="'PER'" sortable="'PER'" filter="{ 'PER': 'text' }">{{teamMember.PER}}</td>
                <td data-title="'PRI'" sortable="'PRI'" filter="{ 'PRI': 'text' }">{{teamMember.PRI}}</td>
                <td data-title="'PHB'" sortable="'PHB'" filter="{ 'PHB': 'text' }">{{teamMember.PHB}}</td>
                <td data-title="'LPIE'" sortable="'PIE'" filter="{ 'PIE': 'text' }">{{teamMember.PIE}}</td>
                <td data-title="'S'" sortable="'S'" filter="{ 'S': 'text' }">{{teamMember.S}}</td>
                <td data-title="'CA'" sortable="'CA'" filter="{ 'CA': 'text' }">{{teamMember.CA}}</td>
                <td data-title="'DISC'" sortable="'DISC'" filter="{ 'DISC': 'text' }">{{teamMember.DISC}}</td>
                <td data-title="'CW'" sortable="'CW'" filter="{ 'CW': 'text' }">{{teamMember.CW}}</td>
                <td data-title="'BC'" sortable="'BC'" filter="{ 'BC': 'text' }">{{teamMember.BC}}</td>
                <td data-title="'P'" sortable="'P'" filter="{ 'P': 'text' }">{{teamMember.P}}</td>
                <td data-title="'FD'" sortable="'FD'" filter="{ 'FD': 'text' }">{{teamMember.FD}}</td>
                <td data-title="'PG'" sortable="'PG'" filter="{ 'PG': 'text' }">{{teamMember.PG}}</td>
                <td data-title="'OG'" sortable="'OG'" filter="{ 'OG': 'text' }">{{teamMember.OG}}</td>
                <td data-title="'SG'" sortable="'SG'" filter="{ 'SG': 'text' }">{{teamMember.SG}}</td>
                <td data-title="'JG'" sortable="'JG'" filter="{ 'JG': 'text' }">{{teamMember.JG}}</td>
                <td data-title="'MG'" sortable="'MG'" filter="{ 'MG': 'text' }">{{teamMember.MG}}</td>
                <td>
                    <div class="table-actions">
                <td>
                    <div class="table-actions">
                        <a class="btn btn-default" title="View" href="/#!/team-members/{{teamMember._id}}">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                        <a class="btn btn-default" title="Edit" href="/#!/team-members/{{teamMember._id}}/edit">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?"
                           ng-really-click="remove(teamMember)" item="teamMember">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <a type="button" class="btn btn-success " title='Export' ng-csv="cvsMe(tableParams.data)"  filename="team_selection_test.csv">
                    <span class="glyphicon glyphicon-export"></span>Export Basic Information</a>
                <a type="button" class="btn btn-success " title='Export' ng-csv="createTeamSelectionForm(tableParams.data)"  filename="team_selection_form.csv">
                    <span class="glyphicon glyphicon-export"></span>Export Team Selection Form</a>
                <!--<a type="button" class="btn btn-danger " title='Export' ng-click="pushDataToMainTables(tableParams.data)"  >-->
                    <!--<span class="glyphicon glyphicon-bullhorn"></span>Push To Main Tables</a>-->
                <!--<a type="button" class="btn btn-success " title='Export' ng-csv="cvsLastDayList(tableParams.data)"  filename="confRoomLastDay.csv">-->
                    <!--<span class="glyphicon glyphicon-export"></span>Export To CSV For Last Day List</a>-->
            </tr>
        </table>
    </div>
</section>
