<section data-ng-controller="TeamMembersController">
    <div class="page-header">
        <h1>Team members</h1>
    </div>

    <div class="pull-right">
      <a type="button" class="btn btn-success" href="/#!/team-members/create">
        <i class="glyphicon glyphicon-open"></i> New TeamMember
      </a>
    </div>

    <div>
        <table ng-table="tableParams" show-filter="true">
            <tr ng-repeat="teamMember in $data">
                <td data-title="'Name'" sortable="'name'" filter="{ 'name': 'text' }">{{teamMember.name}}</td>
                <td data-title="'LAST_NAME'" sortable="'LAST_NAME'" filter="{ 'LAST_NAME': 'text' }">{{teamMember.LAST_NAME}}</td>
                <td data-title="'FIRST_NAME'" sortable="'FIRST_NAME'" filter="{ 'FIRST_NAME': 'text' }">{{teamMember.FIRST_NAME}}</td>
                <td data-title="'AC'" sortable="'AC'" filter="{ 'AC': 'text' }">{{teamMember.AC}}</td>
                <td data-title="'PHONE'" sortable="'PHONE'" filter="{ 'PHONE': 'text' }">{{teamMember.PHONE}}</td>
                <td data-title="'STREET_ADDRESS'" sortable="'STREET_ADDRESS'" filter="{ 'STREET_ADDRESS': 'text' }">{{teamMember.STREET_ADDRESS}}</td>
                <td data-title="'CITY'" sortable="'CITY'" filter="{ 'CITY': 'text' }">{{teamMember.CITY}}</td>
                <td data-title="'ST'" sortable="'ST'" filter="{ 'ST': 'text' }">{{teamMember.ST}}</td>
                <td data-title="'ZIP'" sortable="'ZIP'" filter="{ 'ZIP': 'text' }">{{teamMember.ZIP}}</td>
                <td data-title="'Original_Walk'" sortable="'Original_Walk'" filter="{ 'Original_Walk': 'text' }">{{teamMember.Original_Walk}}</td>
                <td data-title="'L_D'" sortable="'L_D'" filter="{ 'L_D': 'text' }">{{teamMember.L_D}}</td>
                <td data-title="'S_D'" sortable="'S_D'" filter="{ 'S_D': 'text' }">{{teamMember.S_D}}</td>
                <td data-title="'A_L_D'" sortable="'A_L_D'" filter="{ 'A_L_D': 'text' }">{{teamMember.A_L_D}}</td>
                <td data-title="'Mu'" sortable="'Mu'" filter="{ 'Mu': 'text' }">{{teamMember.Mu}}</td>
                <td data-title="'A_L_T'" sortable="'A_L_T'" filter="{ 'A_L_T': 'text' }">{{teamMember.A_L_T}}</td>
                <td data-title="'T_L'" sortable="'T_L'" filter="{ 'T_L': 'text' }">{{teamMember.T_L}}</td>
                <td data-title="'Agape'" sortable="'Agape'" filter="{ 'Agape': 'text' }">{{teamMember.Agape}}</td>
                <td data-title="'M_S'" sortable="'M_S'" filter="{ 'M_S': 'text' }">{{teamMember.M_S}}</td>
                <td data-title="'Ref'" sortable="'Ref'" filter="{ 'Ref': 'text' }">{{teamMember.Ref}}</td>
                <td data-title="'p72_hr'" sortable="'p72_hr'" filter="{ 'p72_hr': 'text' }">{{teamMember.p72_hr}}</td>
                <td data-title="'Hous'" sortable="'Hous'" filter="{ 'Hous': 'text' }">{{teamMember.Hous}}</td>
                <td data-title="'Cnd_Lite'" sortable="'Cnd_Lite'" filter="{ 'Cnd_Lite': 'text' }">{{teamMember.Cnd_Lite}}</td>
                <td data-title="'Clo'" sortable="'Clo'" filter="{ 'Clo': 'text' }">{{teamMember.Clo}}</td>
                <td data-title="'Ent'" sortable="'Ent'" filter="{ 'Ent': 'text' }">{{teamMember.Ent}}</td>
                <td data-title="'S_Pray'" sortable="'S_Pray'" filter="{ 'S_Pray': 'text' }">{{teamMember.S_Pray}}</td>
                <td data-title="'Spo_Hr'" sortable="'Spo_Hr'" filter="{ 'Spo_Hr': 'text' }">{{teamMember.Spo_Hr}}</td>
                <td data-title="'Worship'" sortable="'Wor'" filter="{ 'Wor': 'text' }">{{teamMember.Wor}}</td>
                <td data-title="'Goph'" sortable="'Goph'" filter="{ 'Goph': 'text' }">{{teamMember.Goph}}</td>
                <td data-title="'Clean Up'" sortable="'ClnUp'" filter="{ 'ClnUp': 'text' }">{{teamMember.ClnUp}}</td>
                <td data-title="'Priority'" sortable="'PRI'" filter="{ 'PRI': 'text' }">{{teamMember.PRI}}</td>
                <td data-title="'Presithood of Beleivers'" sortable="'PHB'" filter="{ 'PHB': 'text' }">{{teamMember.PHB}}</td>
                <td data-title="'Life of Piety'" sortable="'PIE'" filter="{ 'PIE': 'text' }">{{teamMember.PIE}}</td>
                <td data-title="'S'" sortable="'S'" filter="{ 'S': 'text' }">{{teamMember.S}}</td>
                <td data-title="'CA'" sortable="'CA'" filter="{ 'CA': 'text' }">{{teamMember.CA}}</td>
                <td data-title="'DISC'" sortable="'DISC'" filter="{ 'DISC': 'text' }">{{teamMember.DISC}}</td>
                <td data-title="'CW'" sortable="'CW'" filter="{ 'CW': 'text' }">{{teamMember.CW}}</td>
                <td data-title="'BC'" sortable="'BC'" filter="{ 'BC': 'text' }">{{teamMember.BC}}</td>
                <td data-title="'P'" sortable="'P'" filter="{ 'P': 'text' }">{{teamMember.P}}</td>
                <td data-title="'FD'" sortable="'FD'" filter="{ 'FD': 'text' }">{{teamMember.FD}}</td>
                <td data-title="'PG'" sortable="'PG'" filter="{ 'PG': 'text' }">{{teamMember.PG}}</td>
                <td data-title="'OG'" sortable="'OG'" filter="{ 'OG': 'text' }">{{teamMember.OG}}</td>
                <td data-title="'SG'" sortable="'SG'" filter="{ 'SG': 'text' }">{{teamMember.SG}}</td>
                <td data-title="'JG'" sortable="'JG'" filter="{ 'JG': 'text' }">{{teamMember.JG}}</td>
                <td data-title="'MG'" sortable="'MG'" filter="{ 'MG': 'text' }">{{teamMember.MG}}</td>
                <td>
                    <div class="table-actions">
                <td>
                   <div class="table-actions">
                        <a class="btn btn-default" title="View" href="/#!/team-members/{{teamMember._id}}">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                        <a class="btn btn-default" title="Edit" href="/#!/team-members/{{teamMember._id}}/edit">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="remove(teamMember)" item="teamMember">
                  				<span class="glyphicon glyphicon-remove-circle"></span>
                  			</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</section>
