<section data-ng-controller="TalksController" data-ng-init="toViewTalk()">
	<div class="page-header">
		<h1 data-ng-bind="talk.name"></h1>
	</div>

	<div class="col-md-12">

		<form novalidate>
			<formly-form model="talk" fields="formFields">
			</formly-form>
		</form>

		<hr/>
		<div data-ng-show="((authentication.user) && (authentication.user._id == talk.user._id))">
			<a class="btn btn-success" href="/#!/talks/{{talk._id}}/edit">
				<i class="glyphicon glyphicon-edit"></i> Edit
			</a>
			<a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="remove()" item="talk">
				<i class="glyphicon glyphicon-remove-circle"></i> Delete
			</a>
			<a class="btn btn-primary" href="/#!/talks">
				<i class="glyphicon glyphicon-list"></i> List Talks
			</a>
		</div>

	</div>

</section>
